.btn-p{
height: 70px;
width: 163px;	
background: rgb(253, 80, 104);
border-radius: 40px;
font-family: Source Sans Pro;
color: white;
font-weight: bold;
font-size: 30px;
padding: 15px 20px;

}